.checkList {
  border: 1px solid black;
  width: 1200px;
  margin: 10px auto 0;
  padding: 30px;
  text-align: center;
}

.checkList__heading {
  font-size: 40px;
}

.checkList__question {
  font-size: 30px;
}
.checkList__input {
  width: 400px;
  height: 40px;
  font-size: 16px;
}

.checkList__tasks {
  list-style: none;
  margin: 20px;
  border: 1px solid blue;
  font-size: 25px;
}

.checkList__item {
  border: 1px solid black;
  margin: 10px auto;
  width: 400px;
  display: block;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
}

.checkList__options {
  display: flex;
  justify-content: space-around;
}

.checkList__option {
  color: rgb(107, 99, 99);
  padding: 30px 0 0 0;
  cursor: pointer;
}

.checked {
  text-decoration: line-through;
}
